/* HEADING */
/*
header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

h1 {
	font-family: 'Roboto', sans-serif;
  	margin: 15px 0;
  	font-size: 1.75em;
  	font-weight: normal;
 	line-height: 0.8em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
  background: #ccc;
} */
 
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 */
  /* Options 2 - Float */
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
 
}
/* NAV */
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 900;
  padding: 15px 10px;
}
 /* STYLES */

body {
	font-family: 'Roboto', sans-serif;
}

headingone {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
}

headingtwo {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

headingthree {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

headingfour {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}


